# output directories
bin/
gen/
out/

# local configuration
build.properties
local.properties

# Eclipse project files
.settings/
.project
.classpath

# IDEA project files
*.iml
*.idea

# Misc
.DS_Store
