<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.idlesoft.android.apps.github" android:versionName="@string/app_version"
	android:versionCode="2011021900">
	<application android:name=".HubroidApplication" android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Theme.Hubroid">
		<activity android:name=".activities.Hubroid" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.Login" />
		<activity android:name=".activities.Dashboard" />
		<activity android:name=".activities.NewsFeed" android:configChanges="orientation" />
		<activity android:name=".activities.Search" android:windowSoftInputMode="adjustPan" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.SearchRepos" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.SearchUsers" android:configChanges="orientation" />
		<activity android:name=".activities.Repositories" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.MyRepos" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.WatchedRepos" android:configChanges="orientation" />
		<activity android:name=".activities.Users" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.Followers" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.Following" android:configChanges="orientation" />
		<activity android:name=".activities.Profile" android:configChanges="orientation" />
		<activity android:name=".activities.Repository" android:configChanges="orientation" />
		<activity android:name=".activities.BranchesList" android:configChanges="orientation" />
		<activity android:name=".activities.Branch" android:configChanges="orientation" />
		<activity android:name=".activities.BranchTree" android:configChanges="orientation" />
		<activity android:name=".activities.CommitsList" android:configChanges="orientation" />
		<activity android:name=".activities.Commit" android:configChanges="orientation" />
		<activity android:name=".activities.DiffFilesList" android:configChanges="orientation" />
		<activity android:name=".activities.Issues" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.OpenIssues" android:configChanges="orientation" />
		<activity android:name=".activities.tabs.ClosedIssues" android:configChanges="orientation" />
		<activity android:name=".activities.CreateIssue" android:configChanges="orientation" />
		<activity android:name=".activities.SingleIssue" android:configChanges="orientation" />
		<activity android:name=".activities.NetworkList" android:configChanges="orientation" />
		<activity android:name=".activities.SingleActivityItem" android:configChanges="orientation" />
		<activity android:name=".activities.CommitChangeViewer" android:configChanges="orientation" />
		<activity android:name=".activities.FileViewer" android:configChanges="orientation" />
	</application>
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="9"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
