<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.idlesoft.android.hubroid"
      android:versionName="0.99-b1" android:versionCode="9">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Hubroid"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SplashScreen"></activity>
        <activity android:name="Search"></activity>
    	<activity android:name="RepositoriesList" ></activity>
		<activity android:name="RepositoryInfo"></activity>
		<activity android:name="UserInfo"></activity>
		<activity android:name="WatchedRepositories" />
		<activity android:name="FollowersFollowing" />
	</application>
    <uses-sdk android:minSdkVersion="3" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest>